@font-face {
  font-family: 'iconfont';  /* Project id 2902667 */
  src: url('//at.alicdn.com/t/font_2902667_1k1pjqgnjc7.woff2?t=1637994939990') format('woff2'),
       url('//at.alicdn.com/t/font_2902667_1k1pjqgnjc7.woff?t=1637994939990') format('woff'),
       url('//at.alicdn.com/t/font_2902667_1k1pjqgnjc7.ttf?t=1637994939990') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e6b8";
}

.icon-cart:before {
  content: "\e7e5";
}

.icon-my:before {
  content: "\e78b";
}

.icon-order:before {
  content: "\e7b3";
}

